<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('ZCOIN')" data-ng-class="{active: currency.symbol == 'ZCOIN'}">ZCOIN</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mZCOIN')" data-ng-class="{active: currency.symbol == 'mZCOIN'}">mZCOIN</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uZCOIN')" data-ng-class="{active: currency.symbol == 'uZCOIN'}">uZCOIN</a>
  </li>
</ul>

